mail:
  server: smtp.example.com
  subject: "Coffee is ready!"
  message: "Come get some hot tasty coffee before it's all gone."

sender:
  name: coffee_brewers
  address: coffee_brewers@example.com
  
recipients:
  - name: coffee_brewers
    address: coffee_brewers@example.com
    
  - name: Lucky
    address: lucky@example.com
    
  - name: Bob
    address: barista_bob@example.com
    
  - name: Starbuck
    address: starbuck@example.com